<div class="container">
  <div id="login">
    <form (ngSubmit)="onSubmit(username.value, password.value)">
      <h2>Logowanie</h2>

      <div class="alert alert-danger" *ngIf="message">
        {{message}}
      </div>

      <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input class="form-control" id="username" #username>
      </div>
      <div class="form-group">
        <label for="password">Hasło:</label>
        <input class="form-control" type="password" id="password" #password>
      </div>

      <button class="btn btn-primary">
        Zaloguj
      </button>
    </form>
  </div>
</div>